<h1>Inicia Sesión</h1>

<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div>
    <div class="mb-3 row">
      <div class="col-sm-10">
        <input formControlName="email" type="text" class="form-control-email inputField" id="inputEmail"
          placeholder="Enter your email address">
      </div>
    </div>
    <div class="mb-3 row">
      <div class="col-sm-10">
        <input formControlName="password" type="password" class="form-control-password inputField" id="inputPassword"
          placeholder="Enter your password">
      </div>
    </div>

  </div>
  <app-use-button [referenceText]="endMsg"></app-use-button>
</form>
