<nav class="navbar navbar-expand-sm">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="'.'"></a>

		<button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
			&#9776;
		</button>

		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse ml-auto">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" [routerLink]="'home'" (click)="isMenuCollapsed = true">Inicio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'shoppingCart'" (click)="isMenuCollapsed = true">Carrito</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'users'" (click)="isMenuCollapsed = true">Perfil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'login'" (click)="isMenuCollapsed = true">Ingresar</a>
				</li>
			</ul>
		</div>
	</div>
</nav>