<div class="container">
  <div class="d-flex justify-content-start">
    <h1>Profile</h1>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div *ngIf="user">
    <div class="card shadow" style="width: 18rem;">
      <div class="overlay2">
        <img class="card-img-top" src={{user.profileImg}} alt="Card image cap">
      </div>

      <div class="body-content">
        <div class="overlay">
          <div class="card-body ">
            <h5 class="card-title">{{user.firstName}}</h5>
            <p class="card-text">{{user.email}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center sticky-bottom bg-light ">
      <app-use-button class="sm-3 shadow-background" routerLink="/home" [referenceText]="'Volver a menú principal'"><a
          href="/">23</a></app-use-button>
    </div>
  </div>


</div>