@media (min-width: 280px) {
    #home {
        background-size: cover;
        display: flex;
        justify-content: end;
        
    }
}

@media (min-width:768px) {
    #home {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

