<div class="filters" [routerLink]="'.'">
<ul>
    <li>
      <a (click)="getItemsByType('bebidas')">
        <img src="https://user-images.githubusercontent.com/88668277/204967580-5ce9b3fa-56fe-4c3f-adec-e9ccab24b9ce.png" alt="Bebidas">
      </a>
    </li>
    <li>
      <a (click)="getItemsByType('alimentos')">
        <img src="https://user-images.githubusercontent.com/88668277/204969560-eff8aab9-060d-4238-bb0b-598943a4e11d.png" alt="Alimentos">
      </a>
      </li>
    <li>
      <a (click)="getItemsByType('frutas')">
        <img src="https://user-images.githubusercontent.com/88668277/204968706-8c28eb16-f12c-451b-b9f7-19dc8125a164.png" alt="Frutas y verduras">
      </a>
      
    </li>
    <li>
      <a (click)="getItemsByType('bazar')">
        <img src="https://user-images.githubusercontent.com/88668277/204969031-f0ab87e4-ba65-4415-8b12-2bf369433387.png" alt="Alimentos">
      </a> 
    </li>
  </ul>
</div>