
<div class="carousel">
  <ngb-carousel  *ngIf="items">
    <ng-template *ngFor="let item of items" ngbSlide>
      
        <div class=" d-flex justify-content-center " >
          <img src="/assets/items/{{ item.imageUrl }}" alt="{{ item.name }}"  class="flex thumbnail align-text-center "/>
        </div>
        <div class="w-50">
        <div class="d-grid gap-3 justify-content-ml-center">
          <div class="p-2 "><strong>{{ item.name }}</strong></div>
          <div class="p-1 "><p>&dollar; {{ item.price }} </p></div>
        </div>
      </div>
        <div class="">
        <button (click)="addToCart()" title="Añadir al Carrito" >
          <i class="bi bi-bag-plus"></i>
        </button> 
        </div>
      </ng-template>
    </ngb-carousel>
  
    
    
</div>