:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 1rem;
}

.total {
  font-size: 24px;
  font-weight: 600;
  align-self: flex-end;
  margin-top: 54px;
}

button {
  padding: 12px 16px;
  background-image: linear-gradient(0deg, #a61bf7 18.58%, #5e00ea 81.42%);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.89);
}
.miniIcon {
  width: 15pt;
  height: 15pt;
}
button:hover,
button:focus {
  background-color: #7d29fa;
  outline: none;
}

button:disabled {
  background-color: #bbb;
  color: #777;
  cursor: not-allowed;
}

@media (min-width: 650px) {
  #bottomButton {
    display: none;
  }
}
