<div class="d-flex flex-column mb-3">
    <p class="title"><button class="toggle mybtn flex-end title" data-toggle="tooltip" data-placement="top"
      (click)="toggleItemVisibility()"><img src="https://user-images.githubusercontent.com/88668277/204950320-9b498f5e-9e33-4640-84fd-37e47125bc95.png" alt="Carrito" class="miniIcon" />
      {{title}} </button></p>
</div>
<div class="d-flex justify-content-center">
  <div class="card">
    <div class="card-body ">

      <ng-container *ngIf="showItems">
        <app-shopping-cart-item *ngFor="let item of cartItems" [cartItem]="item" (cartItemDelete)="deleteItem(item)"
          class="line-bottom"></app-shopping-cart-item>
      </ng-container>

    </div>
  </div>
</div>
<div class="d-flex justify-content-center sticky-bottom bg-light " [routerLink]="'.'">
  <p class="total"><span class="total-label">Total </span>$ {{total}}</p>
  <app-use-button class="sm-3 sticky-bottom" id="bottomButton" [referenceText]="endMsg" [routerLink]="'ticket'"></app-use-button>
</div>
