<header>
    <app-shopping-cart-header></app-shopping-cart-header>
</header>
<body>
    <p class="title" style="margin-top: 1rem;"><img src="/assets/items/shopping-cart.png" alt="Carrito" class="miniIcon"/> {{title}}</p>

    <app-shopping-cart-item 
        *ngFor="let item of cartItems" 
        [cartItem]="item"
        (cartItemDelete)="deleteItem(item)"
    ></app-shopping-cart-item>


    <p class="total"><span class="total-label"></span>{{total}} $</p>

    <app-use-button id="bottomButton" [referenceText]="endMsg"></app-use-button>
    <!-- <button id="bottomButton">Finalizar pedido</button> -->
</body>

